<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body class="uk-light">
		<br/>
		<div class="uk-container wrap uk-border-rounded">

			<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
				<div>
					<div class="uk-card uk-card-body blured-block">
						
						<h4>Activity</h4>
						<ul class="uk-list uk-list-divider">
							<li>{{ .usersCount }} active users (7D)</li>
							<li>{{ .channelsCount }} channels</li>
						</ul>

					</div>
				</div>
				<div>
					<div class="uk-card uk-card-body blured-block">
						
						<h4>Network</h4>
						<div id="globe-indicator"></div>
						<script>
							let systemPeers = JSON.parse({{ .peersData }});
						</script>

					</div>
				</div>
			</div>

		</div>
		
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="assets/js/globe.js?v=1.2"></script>

		{{block "scripts" .}} {{end}}
	</body>
</html>
