<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body class="uk-light">
		<br/>
		<div class="uk-container wrap uk-border-rounded">

			<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
				<div>
					<div class="uk-card uk-card-body blured-block">
						
						<h4>Activity</h4>
						<ul class="uk-list uk-list-divider">
							<li>{{ .usersCount }} active users (7D)</li>
							<li>{{ .channelsCount }} channels</li>
						</ul>

					</div>
				</div>
				<div>
					<div class="uk-card uk-card-body blured-block">
						
						<h4>Network. <span class="text-ghost">Nearby connections</span></h4>
						<div id="globe-indicator"></div>

					</div>
				</div>
			</div>

			<div class="uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
				<div>
					<div class="uk-card uk-card-body blured-block">
						
						<h4>The biggest channels</h4>
						<table class="uk-table uk-table-hover uk-table-divider uk-table-small">
							<thead>
								<tr>
									<th><span uk-icon="comment"></span></th>
									<th><span uk-icon="user"></span></th>
									<th><span uk-icon="tag"></span>$</th>
								</tr>
							</thead>
							<tbody>
								{{range .topChannels}}
									<tr>
										<td class="text-left">{{.Title}}</td>
										<td>{{.ContactsCount}}</td>
										<td>?</td>
									</tr>
								{{end}}
							</tbody>
						</table>

					</div>
				</div>
				<div>
					<div class="uk-card uk-card-body blured-block">
						
						<h4>Channel owners</h4>
						<ul class="uk-list uk-list-divider">
							<li>TODO</li>
						</ul>

					</div>
				</div>
				<div>
					<div class="uk-card uk-card-body blured-block">

						<h4>The most social users</h4>
						<table class="uk-table uk-table-hover uk-table-divider uk-table-small">
							<thead>
								<tr>
									<th>User</th>
									<th>in channels</th>
								</tr>
							</thead>
							<tbody>
								{{range .topUsers}}
									<tr>
										<td class="text-left">
											<span uk-icon="user"></span>
											<span>{{.Nickname}}</span>
										</td>
										<td>{{.Channels}}</td>
									</tr>
								{{end}}
							</tbody>
						</table>

					</div>
				</div>
			</div>

		</div>
		
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/chart/index.js"></script>
		<script src="assets/js/chart/map.js"></script>
		<script src="assets/js/chart/worldLow.js"></script>
		<script src="assets/js/chart/animated.js"></script>
		<script src="assets/js/globe.js?v={{ .version.globe_js }}"></script>

		{{block "scripts" .}} {{end}}
	</body>
</html>
